body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-image: url('img/arte_pepsi-02.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
}
.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* To position the content absolutely within */
    z-index: 2;
}

#pantalla {
    height: 100vh;
    max-height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 3;
}

#imagen-pantalla {
    max-width: 100%;
    width: 60%; /* Tamaño inicial */
    transition: transform 0.5s ease-in-out;
    transform-origin: center center;
    transform: scale(1);
}

#contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Start invisible */
    position: absolute;
    top: 30%; /* Adjust this to position the content correctly within the frame */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87%; /* Adjust width as needed to fit the TV screen */
    height: 73%; /* Adjust height as needed to fit the TV screen */
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    overflow: hidden; /* Hide the overflow to keep content within the frame */
    /* Additional styling to ensure content fits well within the frame */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/fondo-pantalla-contenido.png'); /* Background for content area */
    background-size: cover;
    z-index: 4;
    
}


.boton {
    background: linear-gradient(to right, #1E04B4, #5213FF);
    color: white;
    border: none;
    border-radius: 5px; /* Ajusta esto para bordes redondeados */
    padding: 15px 80px;
    margin: 10px 0; /* Espacio entre botones */
    cursor: pointer;
    font-size: 16px; /* Ajusta esto según necesites */
    transition: background-color 0.3s ease;

}

.boton:hover {
    background: linear-gradient(to left, #320DFA, #5213FF);
    /* Efecto sutil al pasar el mouse por encima */
}
.fondo-oscurecedor {
    position: fixed; /* Asegura que cubra toda la pantalla */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black; /* Color de oscurecimiento */
    opacity: 0; /* Comienza completamente transparente */
    transition: opacity 0.5s ease-in-out;
    z-index: 1; /* Asegúrate de que esté sobre la imagen de fondo pero debajo del contenido principal */
    opacity: 0;
}
a {
    text-decoration: none;
    font-weight: bold;
}